{% extends 'base.html' %}

{% block title %} BankHome {% endblock title %}
{% block bankingactive %} active {% endblock bankingactive %}
{% block body %}

<div class="container">
    <center><h1>View Customer</h1></center>
    <div class="row mb-2" >
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Clay Jenson</h3>
                    <div class="mb-1 text-muted">last Transaction:  <b>Jan 09</b></div>
                    <p class="card-text mb-auto">Account:           <b>xxxx xxxx 9090</b></p>
                    <p class="card-text mb-auto">Phone Number:      <b>91654324231</b></p>
                    <p class="card-text mb-auto">Branch:            <b>TY67HHBG</b></p>

                    <div class="my-2"style="height:20px">
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">Transfer Money</a>
                        <a href="/history" role="button" class="btn btn-outline-info">Payment History</a>
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">User Details</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Max Lee</h3>
                    <div class="mb-1 text-muted">last Transaction:<b>Jan 10</b></div>
                    <p class="card-text mb-auto"> Account: <b>xxxx xxxx 1234</b></p>
                    <p class="card-text mb-auto">Phone Number: <b>86798958457</b></p>
                    <p class="card-text mb-auto">Branch: <b>HYT67FR</b></p>
                    <div class="my-2">
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">Transfer Money</a>
                        <a href="/history" role="button" class="btn btn-outline-info">Payment History</a>
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">User Details</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row mb-1">
        <div class="col-md-12" >
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Ketty Jones</h3>
                    <div class="mb-1 text-muted">last Transaction:<b>Jan 09</b></div>
                    <p class="card-text mb-auto">Account: <b>xxxx xxxx 2323</b></p>
                    <p class="card-text mb-auto">Phone Number: <b>049863577648</b></p>
                    <p class="card-text mb-auto">Branch: <b>NJ65THGFR</b></p>
                    <div class="my-2">
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">Transfer Money</a>
                        <a href="/history" role="button" class="btn btn-outline-info">Payment History</a>
                        <a href="/" role="button" class="btn btn-outline-info">User Details</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Riya Jain</h3>
                    <div class="mb-1 text-muted">last Transaction: <b>Jan 09</b></div>
                    <p class="card-text mb-auto">Account: <b>xxxx xxxx 6543</b></p>
                    <p class="card-text mb-auto">Phone Number: <b>9887876485</b></p>
                    <p class="card-text mb-auto">Branch: <b>HY098FR</b></p>
                    <div class="my-2">
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">Transfer Money</a>
                        <a href="/history" role="button" class="btn btn-outline-info">Payment History</a>
                        <a href="/" role="button" class="btn btn-outline-info">User Details</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Jessica Devis</h3>
                    <div class="mb-1 text-muted">last Transaction: <b>Jan 09</b></div>
                    <p class="card-text mb-auto">Account: <b>xxxx xxxx 2134</b></p>
                    <p class="card-text mb-auto">Phone Number: <b>746652465</b></p>
                    <p class="card-text mb-auto">Branch: <b>HYTHGFR</b></p>

                    <div class="my-2">
                        <a href="/viewcustomer" role="button" class="btn btn-outline-info">Transfer Money</a>
                        <a href="/" role="button" class="btn btn-outline-info">Payment History</a>
                        <a href="/" role="button" class="btn btn-outline-info">User Details</a>
                    </div>
                </div>

            </div>
        </div>

    </div>



</div>
{% endblock body %}